@import url("https://fonts.google.com/specimen/Roboto");

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--charcoal-grey);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#container {
  background-color: var(--white);
  border-radius: 20px;
  margin: auto;
  padding: 10px;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  height: 500px;
}

.left-col {
  grid-column-start: 1;
  padding: 0 40px;
  width: 80%;
  grid-template-rows: repeat(5, auto);
  justify-content: center;
}

.left-col div {
  margin-bottom: 30px;
}

.right-col {
  grid-column-start: 2;
}

.submit-btn {
  width: 422px;
  color: var(--white);
  background-color: var(--charcoal-grey);
  padding: 20px 60px;
  border-radius: 10px;
}

.img {
  height: 80%;
}

.input-email {
  width: 300px;
  padding: 20px 60px;
  border-radius: 10px;
  border-color: var(--grey);
  color: var(--grey);
}

ul {
  padding-left: 0;
  text-align: left;
}

ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("./assets/images/icon-list.svg");
  background-size: contain;
  margin-right: 10px;
}
